// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "luminari";
  src: url("/Luminari-Regular.woff") format("woff");
}

@font-face {
  font-family: "helios";
  src: url("/16757.otf") format("otf");
}
